<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="gestor-clientes">
  <template>
    <style>
      :host {
        display: block;
      }
      .flag{
        width: 40px;
        height: 150px
      }
    </style>
    <div class="container">
      <div class="row">
        <h1 class="col-lg-12">Gestor de Clientes</h1>
        <button on-click="obtenerClientes" class="btn btn-info" type="button" name="button">Obtener Clientes</button>
        <button on-click="anadirClientes" class="btn btn-info" type="button" name="button">Añadir Clientes</button>

      </div>
      <div class="row">
        <table hideen$="{{noCargados}}"class="table table-striped">
          <tbody>
            <template is="dom-repeat" items="{{clientes}}">
              <tr>
                <td>
                  [[item.idcliente]]
                </td>
                <td>
                  [[item.nombre]]
                </td>
                <td>
                  [[item.apellido]]
                </td>
              </tr>
            </template>
          </tbody>
        </table>
      </div>


    </div>
    <!--<h2>Hello [[prop1]]!</h2>-->
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class GestorClientes extends Polymer.Element {
      static get is() { return 'gestor-clientes'; }
      static get properties() {
        return {
          clientes: {
            type: Array,
            notify:true
          },
          noCargados: {
            type: Boolean,
            value:true
          },
          respuesta:{
            type: Object
          }
        };
      }
      obtenerClientes(){
        var url="http://localhost:3002/movimientos";
        var request = new XMLHttpRequest();
        request.open ("GET",url,false);
        request.setRequestHeader("Accept","application/json");
        request.send();
        this.clientes = JSON.parse(request.responseText);
        console.log(this.clientes);
        this.noCargados = false;

     }
     anadirClientes(){
       var url="http:localhost:3002/movimientos";
       var request = new XMLHttpRequest();
       request.open("POST",url,false);
       request.setRequestHeader("Accept","application/json");
       request.setRequestHeader("Content-Type","application/json");

       var nuevoCliente = {"CustomerID":"12345","ContactName":"PEepe"};
       var body = JSON.stringify(nuevoCliente);
       request.send(body);
       this.respuesta = request.responseText;
       console.log(this.repuesta);
       this.noCargados = true;
     }
   }

    window.customElements.define(GestorClientes.is, GestorClientes);
  </script>
</dom-module>
